$primary-background:#ffffff;
$whiteColor: white;
$blackColor: #202020;
$label-color: rgb(246, 245, 245);
$divider-color: #bbb;
$red-color: rgb(248, 33, 33);
$blue-color: rgb(33, 33, 248);
$shadow-color: #d7d4d4;

