@import "../../../src/assets/scss/variable.scss";


.container {
  display: flex;
  width: 500px;
  margin: 20px auto;
  flex-Direction: column;
  background-Color: $whiteColor;
  border-Radius: 5px;
  box-Shadow: 0 0 10px 4px $shadow-color;
  padding: 20px;
  height: 90vh;
}

.title {
  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700; 
    color: $blackColor;
    text-transform: uppercase;
    word-spacing: 1px; 
    letter-spacing:2px;
  }
}

hr {  
  width:100% ;  
  border: none;      
  border-top: 1px solid $divider-color;
}









