@import "../../../src/assets/scss/variable.scss";

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  margin: 0px;
}
.edit__icon {
  color: $blue-color;
  margin-left: 3px;
}

.delete__icon {
  color: $red-color;
}





